---
# Copyright: (c) 2022, XLAB Steampunk <steampunk@xlab.si>
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)

### configuration settings ###
fdo_src: /etc/fdo
enable_roll_back: true

### manufacturing-server.yml ###
manufacturing_server_session_store_driver_path: "{{ fdo_src }}/stores/manufacturing_sessions"
manufacturing_server_ownership_voucher_store_driver_path: "{{ fdo_src }}/stores/owner_vouchers"
manufacturing_server_public_key_store_driver_path: "{{ fdo_src }}/stores/manufacturer_keys"
manufacturing_server_bind_ip: 0.0.0.0
manufacturing_server_listen_port_manufacturing_server: 8080
manufacturing_server_protocols_plain_di: false
manufacturing_server_protocols_diun_key_path: "{{ fdo_src }}/keys/diun_key.der"
manufacturing_server_protocols_diun_cert_path: "{{ fdo_src }}/keys/diun_cert.pem"
manufacturing_server_rendezvous_info_deviceport: 8082
manufacturing_server_rendezvous_info_ip_address: 127.0.0.1 # change to rendezvous server ip
manufacturing_server_rendezvous_info_owner_port: "{{ manufacturing_server_rendezvous_info_deviceport }}"
manufacturing_server_rendezvous_info_protocol: http
manufacturing_server_manufacturing_manufacturer_cert_path: "{{ fdo_src }}/keys/manufacturer_cert.pem"
manufacturing_server_manufacturing_device_cert_ca_private_key: "{{ fdo_src }}/keys/device_ca_key.der"
manufacturing_server_manufacturing_device_cert_ca_chain: "{{ fdo_src }}/keys/device_ca_cert.pem"
manufacturing_server_manufacturing_owner_cert_path: "{{ fdo_src }}/keys/owner_cert.pem"
manufacturing_server_manufacturing_manufacturer_private_key: "{{ fdo_src }}/keys/manufacturer_key.der"
