---
service_info:
  initial_user: ~
  files: ~
  commands: ~
  diskencryption_clevis: ~
  additional_serviceinfo: ~
bind: "0.0.0.0:{{ serviceinfo_api_server_port }}"
service_info_auth_token: GQJr8WcJixk7beYxvyfFQuqRB/caOcY4t39MdyEFhfc=
admin_auth_token: WYhNmDPIhkMfKUJsyrQJdrkplveqECgR3du/n+o+QYc=
device_specific_store_driver:
  Directory:
    path: /etc/fdo/aio/stores/serviceinfo_api_devices