# Per https://github.com/marketplace/actions/ansible-test
name: Perform testing with ansible-test
on: [push]
jobs:
  ansible-test:
    runs-on: [self-hosted, linux]
    steps:
    - name: Perform integration testing with ansible-test
      uses: ansible-community/ansible-test-gh-action@release/v1
      with:
        ansible-core-version: stable-2.11
        pre-test-cmd: echo This runs before the ansible-test invocation
        target-python-version: 3.9
        controller-python-version: auto
        testing-type: integration
        test-deps: ansible.netcommon

    - name: Perform sanity testing with ansible-test
      uses: ansible-community/ansible-test-gh-action@release/v1
      with:
        ansible-core-version: stable-2.11
        testing-type: sanity

    - name: Perform unit testing with ansible-test
      uses: ansible-community/ansible-test-gh-action@release/v1
      with:
        ansible-core-version: stable-2.11
        pre-test-cmd: echo This runs before the ansible-test invocation
        target-python-version: 3.9
        testing-type: units
        test-deps: >-
          ansible.netcommon
          ansible.utils
